<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        div {
            width: 15vw;
            display: flex;
            justify-content: space-between;
        }
        
        a {
            font-size: 2em;
        }
    </style>
    <title>Prueba de urls y views</title>
</head>
<body>
    <h1>INDEX C</h1>
    <div>
        <a href="{% url 'index' %}">Ir index</a>
        <a href="{% url 'indexD' %}">Ir indexD</a>
    </div>

    <img src="https://hips.hearstapps.com/hmg-prod/images/dewey-malcolm-fotogramas-1626112299.jpg" alt="">
</body>
</html>