<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        div {
            width: 15vw;
            display: flex;
            justify-content: space-between;
        }
        
        a {
            font-size: 2em;
        }
    </style>
    <title>Prueba de urls y views</title>
</head>
<body>
    <h1>INDEX D</h1>
    <div>
        <a href="{% url 'index' %}">Ir index</a>
        <a href="{% url 'indexC' %}">Ir indexC</a>
    </div>

    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRx2uOp2TnTYHgr40l9PmynLNxSyoBMX-dyAw&s" alt="">
</body>
</html>